


<ul>
	<li class="nav-title">API Documentation</li>
	<li class="nav-domain"><code class="highlighter-rouge">yourdomainname.com</code></li>
	<li class="li-status"><a href="/"><span class="nav-status">API status</span></a></li>  <!-- Add the API status link -->
	
	{% for node in site.documentation %}
		{% if node.front == true %}
			<li class="li-main"><a class="main-nav" href="/#{{node.anchor}}"> {{node.title}} </a></li>
			<ul class="sub-ul">
			{% for subpage in site.documentation %}
				{% if subpage.front == false and subpage.permalink contains node.permalink %}
					<li class="li-sub"><a class="sub-nav" href="/#{{subpage.anchor}}"> {{subpage.title}} </a></li>
				{%  endif %}
			{% endfor %}
			</ul>
		{%  endif %}
	{% endfor %}
</ul>

